<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gt.wms.Dao.UserDao">
	<select id="getUserByName" parameterType="string"
		resultType="com.gt.wms.Entity.User">
		SELECT * FROM sys_user u WHERE u.name = #{name}
	</select>

	<insert id="regester" parameterType="com.gt.wms.Entity.User">
		INSERT INTO
		sys_user(name, password, email,create_time)
		VALUES(#{name},#{password},#{email},now())
	</insert>

	<insert id="addUser" parameterType="com.gt.wms.Entity.User">
		INSERT INTO [dbo].[sys_user] (
			[id],
			[loginid],
			[name],
			[password],
			[password_change_flag],
			[email],
			[phone],
			[address],
			[user_type],
			[note],
			[last_login_time],
			[status],
			[token],
			[is_delete],
			[create_time],
			[create_user],
			[update_time],
			[update_user],
			[delete_user],
			[delete_time]
		)
		VALUES
		(
			#{id},
			#{loginid},
			#{name},
			#{password},
			0,
			#{email},
			#{phone},
			#{address},
			#{user_type},
			#{note},
			NULL,
			'1',
			NULL,
			'0',
			GETDATE(),
			#{create_user},
			GETDATE(),
			#{create_user},
			NULL,
			NULL
		);
	</insert>

	<select id="getPageUserListMS" parameterType="Map" resultType="com.gt.wms.Entity.User">
		SELECT
			TOP ${pageSize} *
		FROM
			(
				SELECT
					row_number () OVER (ORDER BY create_time DESC) rownum ,
					sys_user.*,
					STUFF(
						(
						SELECT
						',' + store_region.name
						FROM
						(
						SELECT
						*
						FROM
						user_to_store
						WHERE
						type = '1'
						AND user_id = id
						) coretemp
						INNER JOIN store_region ON coretemp.area_id = store_region.id FOR XML PATH ('')
						),
						1,
						1,
						''
					) store_region_name,
					STUFF(
						(
						SELECT
						',' + store.name
						FROM
						(
						SELECT
						*
						FROM
						user_to_store
						WHERE
						type = '2'
						AND user_id = id
						) coretemp
						INNER JOIN store ON coretemp.area_id = store.id FOR XML PATH ('')
						),
						1,
						1,
						''
					) store_name
				FROM
					sys_user
				WHERE
					1 = 1
				<if test="selectName != null and selectName != ''">
					AND (loginid LIKE '%'+#{selectName}+'%' OR name LIKE '%'+#{selectName}+'%')
				</if>
				<if test="selectType != null and selectType != ''">
					AND user_type = #{selectType}
				</if>
			) coretem
		WHERE
			rownum > ${start};
	</select>

	<select id="getPageNumMS" parameterType="Map" resultType="int">
		SELECT
			COUNT(*) num
		FROM
			sys_user
		WHERE
			1 = 1
		<if test="selectName != null and selectName != ''">
			AND (loginid LIKE '%'+#{selectName}+'%' OR name LIKE '%'+#{selectName}+'%')
		</if>
		<if test="selectName != null and selectName != ''">
			AND user_type = #{selectType}
		</if>
	</select>
</mapper>
